extends ../layout/passage_layout

block sideNav
	include ../part/sideNav_mannual


block passageTitle
	//- ol.breadcrumb
	//- 	li
	//- 		a(href='#') 校庆指南
	//- 	li
	//- 		a(href='#') 校庆公告
	h3 华南师范大学80周年校庆公告(第二号)

block passageContent	



	.panel.panel-default
		.panel-body
			p.
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			p.
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				2013年11月30日，华南师范大学即将迎来80周年华纪念。亲爱的校友们，回“家”了！
			p.
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				80周年校庆一号公告发布以来，得到了海内外广大校友和社会各界人士热切关注和鼎力支持。在此谨致诚挚的问候和衷心的感谢！
			p.
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				80周年校庆以师生、校友共庆为主导，以“传承、创新、共赢、分享”为主题，秉承“师生为本、学术为基、文化为根”的理念，体现大学学术文化和社会价值。
			p.
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				伴随校庆脚步的临近，校园的紫荆花、美丽异木棉次第开放，我们诚挚邀请您在2013年11月30日莅校参与校庆纪念活动，我们热切期盼广大校友和社会各界人士一如既往地对学校建设发展予以关心支持。
			p.
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				值此华南师范大学80周年校庆进入倒计时之际.