extends ../layout/passage_layout

block sideNav
	include ../part/sideNav_mannual


block passageTitle
	h3 庆典联系方式

block passageContent
	.panel.panel-default
		.panel-body
			p.
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				地址: 广东省 广州市 中山大道西55号 华南师范大学 行政办公楼七楼 校庆办公室 
			p.
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				电话:（020）85215089、85215092
			p.
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				传真:（020）85215102
			p.
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				邮箱：80hsxq@scnu.edu.cn , 80hsxq@m.scnu.edu.cn
			p.
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				邮编: 510631






