.masthead
  h3.text-muted 华师八十周年 - SCNU80

  ul.nav.nav-justified
    li.nav-index
      a(href='/') 欢迎首页
    li.nav-news.dropdown
      a.dropdown-toggle(href='#', data-toggle='dropdown').
        校庆指南 
        <b class="caret"></b>
      ul.dropdown-menu
        li
          a(href='/mannual/annoucement') 校庆公告
          a(href='/mannual/instruction') 庆典指南
          a(href='/mannual/contact') 联系方式

    li.nav-wishes
      a(href='#') 评论祝福
    li.nav-about
      a(href='#') 关于我们