.masthead
  .row
    .col-lg-4
      h3.text-muted 华师八十周年 - SCNU80
    .col-lg-6
      object(type="application/x-shockwave-flash",data='/swf/top.swf',width="600",height="80")
    .col-lg-2
      img(src="/images/scnu_logo.png" height="80")

  ul.nav.nav-justified
    li.nav-index
      a(href='/') 欢迎首页
    li.nav-news.dropdown
      a.dropdown-toggle(href='#', data-toggle='dropdown').
        校庆指南 
        <b class="caret"></b>
      ul.dropdown-menu
        li
          a(href='/mannual/annoucement') 校庆公告
          a(href='/mannual/instruction') 庆典指南
          a(href='/mannual/contact') 联系方式

    li.nav-wishes
      a(href='#') 祝福华师
    li.nav-about
      a(href='/about') 关于我们