extends ./layout/passage_layout

block sideNav
	ul.list-group
		li.list-group-item
			a(href='#') 关于我们

block passageTitle
	h2 关于SCNU80项目

block passageContent
	div
		p.
			参与成员：
	div
		p.
			梁博文、 陈思宇 网络工程2010级5班