extends ./layout/passage_layout

block sideNav
	ul.list-group
		li.list-group-item
			a(href='#') 关于我们

block passageTitle
	h2 关于SCNU80项目(网站设计与实现期末项目)

block passageContent
	div
		h3.
			参与成员：
	div
		h4.
			梁博文 网络工程2010级 5班
		h4.
			陈思宇 网络工程2010级 6班 
		h4.
			集中展示对WEB快速开发技术的运用
		h4.
			NodeJS后台, SailsJS框架, Jade模板引擎, Bootstrap响应式布局
			Query, AJAX, SeaJS前端模块化, RESTfulAPI

block addJS
	|seajs.use('about.js');