.masthead
  h3.text-muted 华师八十周年 - SCNU80

  ul.nav.nav-justified
    li.nav-index
      a(href='/') 欢迎首页
    li.nav-news
      a(href='#') 新闻动态
    li.nav-wishes
      a(href='#') 评论祝福
    li.nav-about
      a(href='#') 关于我们

