extends ./layout/main

block styles

block bodyContent
	.page-header
		h1
			祝福华师
			small
				|&nbsp;&nbsp;我们一起来为华师八十周年送上自己的祝福吧！

	div
	.panel.panel-primary
		.panel-heading
			h2.panel-title 发表我的祝福
		.panel-body
			form.form-horizontal(role='form')
				.form-group
					label.col-sm-2.control-label(for='myWishesContent')
						我的祝福内容
					.col-sm-10
						textarea.form-control#myWishesContent(placeholder='我来说几句祝福华师的话吧！')
				.form-group		
					.col-sm-10.col-sm-offset-2
						button#btn_wish.btn.btn-success(type='button')
							span
								祝福

	h3 大家的祝福
	#wishes_pool



	include ./part/wish_template
	


block addJS
	|seajs.use('wishes');