extends ../layout/main

block styles

block bodyContent

    .jumbotron
        h1 华师八十周年校庆
        p.lead
          |2010级网络工程5班梁博文、6班陈思宇
        p
          |集中展示对WEB快速开发技术的运用
        p
          |NodeJS后台, SailsJS框架, Jade模板引擎, Bootstrap响应式布局
        p
          |jQuery, AJAX, SeaJS前端模块化, RESTfulAPI
        p
          a.btn.btn-lg.btn-success(href='/wishes', role='button')
              祝福华师！

    .row
        .col-lg-4
            h2 校庆公告
            p
              |校庆公告校庆公告校庆公告校庆公告校庆公告校庆公告校庆公告校庆公告校庆公告校庆公告校庆公告校庆公告
            p
              a.btn.btn-primary(href='/mannual/annoucement', role='button')
                    View 进入公告 &raquo;
        .col-lg-4
            h2 祝福华师
            p
              |祝福华师祝福华师祝福华师祝福华师祝福华师祝福华师祝福华师祝福华师祝福华师祝福华师祝福华师祝福华师
            p
              a.btn.btn-primary(href='/wishes', role='button')
                  View 写几句祝福吧 &raquo;
        .col-lg-4
            h2 关于我们
            p
              |关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们
            p
              a.btn.btn-primary(href='/about', role='button')
                  View 查看信息 &raquo;

                  
block addJS
  |seajs.use('index');
